<!DOCTYPE html>
<html>
  <head>
    <title>Gambreum</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="loader-bg">
    </div>
      <header>
      <div class="header-logo">
        <a href="/"><img src="/header_logo.jpg"></a>
        <p>Gambreum</p>
      </div>
      <!--
      <div class="header-right">
        <ul>
          <li><%= link_to("Metamaskログイン", "/login/metamask", {method: "post", class: "header-btn"}) %></li>
        </ul>
      </div>
      -->
    </header>

    <div class="contents">
      <div class="flash-place"><!-- flash massage is inserted here --></div>
      <%= yield %>
    </div>

    <footer>
      <div class="footer-container">
        <p>Created by RAjima</p>
      </div>
    </footer>
  </body>

</html>
